.customScroll::-webkit-scrollbar {
  width: 8px;
}
/* Track */
.customScroll::-webkit-scrollbar-track {
  background: #354353; 
  border-radius: 10px;
}
 
/* Handle */
.customScroll::-webkit-scrollbar-thumb {
  background: #536c8a; 
  border-radius: 10px;
}

/* Handle on hover */
.customScroll::-webkit-scrollbar-thumb:hover {
  background: #668ab3; 
}

.customScroll::-webkit-scrollbar-thumb:active {
  background: #b7d9ff; 
}

.bg {
  background-color: #1a2129;
}