.detailScroll::-webkit-scrollbar {
  width: 8px;
}
/* Track */
.detailScroll::-webkit-scrollbar-track {
  background: #354353; 
  border-radius: 10px;
}
 
/* Handle */
.detailScroll::-webkit-scrollbar-thumb {
  background: #7191b6; 
  border-radius: 10px;
}

/* Handle on hover */
.detailScroll::-webkit-scrollbar-thumb:hover {
  background: #9ecbff; 
}

.bg {
  background-color: #1a2129;
}